
<div *ngIf="contact"class="panel panel-default">
    <div class="panel-heading">
        <h2>{{contact.name}}</h2>
        <div class="panel-head-content">
            <img class="thumbnail-img" src="{{contact.imageUrl}}" alt="{{contact.name}}">
            <div class="btn-container">
                <a class="btn btn-primary" routerLink="edit">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <dl>
            <div class="flex">
                <dt>Email: </dt>
                <dd>{{contact.email}}</dd>
            </div>
            <div class="flex">
                <dt>Phone: </dt>
                <dd>{{contact.phone}}</dd>
            </div>
        </dl>
        <h4 *ngIf="contact.group">Group Members:</h4>
        <div *ngFor="let c of contact.group; let i = index">
            <div>
              <cms-contact-item class="col-sm-11" [contact]="c"></cms-contact-item>
            </div>
          </div>
    </div>
</div>