
<div *ngIf="contact"class="panel panel-default">
    <div class="panel-heading">
        <h2>{{contact.name}}</h2>
        <div class="panel-head-content">
            <img class="thumbnail-img" src="{{contact.imageUrl}}" alt="{{contact.name}}">
            <div class="btn-container">
                <a class="btn btn-primary" routerLink="edit">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <dl>
            <div class="flex">
                <dt>Email: </dt>
                <dd>{{contact.email}}</dd>
            </div>
            <div class="flex">
                <dt>Phone: </dt>
                <dd>{{contact.phone}}</dd>
            </div>
        </dl>
    </div>
</div>